<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAZkqO3H5T4htNbWSmzbfWqVTxxPBUyqWM</string>
	<key>GCM_SENDER_ID</key>
	<string>765090368484</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.webapplication</string>
	<key>PROJECT_ID</key>
	<string>ecommerceapp-ce6fb</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerceapp-ce6fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:765090368484:ios:3190de231ff209ffb3d5f1</string>
</dict>
</plist>